* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
.header__icon {
  cursor: pointer;
}
.header div {
  margin: 0 20px;
  cursor: pointer;
}
.header div:active {
  color: blue;
}

main {
  margin: 0 78px;
}

.credit {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: lighter;
  background-color: whitesmoke;
}

.creditDeals {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin: 15px auto;
  padding: 16px 0;
  max-width: 970px;
  font-size: 15px;
  border-radius: 3px;
}
.creditDeals_item {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.creditDeals img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.creditDeals .dealsBold {
  font-weight: bold;
}
.creditDeals a {
  text-decoration: none;
}

.choice {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  display: flex;
  font-size: 13px;
}
.choice .left .iPhone {
  margin-top: 70px;
  top: 200px;
  border-radius: 30px;
  width: 900px;
  height: 100%;
  position: sticky;
}
.choice .left .title p {
  color: #bf4800;
  font-size: 20px;
}
.choice .left .title h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.choice .left .right div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choice .getCash {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.choice .plus {
  margin-left: 5px;
  display: inline-block;
  width: 13px;
  height: 14px;
  background: linear-gradient(black, black), linear-gradient(black, black), whitesmoke;
  background-position: center;
  background-size: 50% 1px, 1px 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 0.5px solid black;
}
.choice .hover {
  padding: 5px;
  border: 0.5px solid gray;
}
.choice .CashBack {
  width: 280px;
  cursor: pointer;
  border-radius: 20px;
  background-color: whitesmoke;
  font-size: 12px;
  margin-top: 20px;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice .trade-in {
  width: 230px;
  cursor: pointer;
  border-radius: 20px;
  background-color: whitesmoke;
  font-size: 12px;
  margin-top: 20px;
  padding: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.choice .CashBack:hover .plus {
  display: inline-block;
  width: 13px;
  height: 14px;
  background: linear-gradient(white, white), linear-gradient(white, white), black;
  background-position: center;
  background-size: 50% 1px, 1px 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 0.5px solid black;
}
.choice .trade-in:hover .plus {
  display: inline-block;
  width: 13px;
  height: 14px;
  background: linear-gradient(white, white), linear-gradient(white, white), black;
  background-position: center;
  background-size: 50% 1px, 1px 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 0.5px solid black;
}
.choice .best {
  display: flex;
  margin-top: 130px;
  font-size: 23px;
}
.choice .Pro {
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 73%;
  max-width: 350px;
  justify-content: space-between;
  margin-top: 30px;
  padding: 8px 12px;
  border: 1px solid rgb(148, 141, 141);
}
.choice .Pro h1 {
  font-size: 20px;
  font-weight: 6 0;
}
.choice .Pro .cost {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 120px;
  font-size: 13px;
}
.choice .ProMax {
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 73%;
  max-width: 350px;
  justify-content: space-between;
  margin-top: 20px;
  padding: 8px 12px;
  border: 1px solid rgb(158, 155, 155);
}
.choice .ProMax h1 {
  font-size: 20px;
  font-weight: 6 0;
}
.choice .ProMax .cost {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 120px;
  font-size: 13px;
}
.choice .Pro:active {
  border: 1px solid blue;
}
.choice .ProMax:active {
  border: 1px solid blue;
}
.choice .Help {
  display: flex;
  background-color: whitesmoke;
  max-width: 350px;
  margin-top: 20px;
  padding: 12px;
  font-size: 17px;
  border-radius: 15px;
  cursor: pointer;
}
.choice .Help .plus {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: linear-gradient(black, black), linear-gradient(black, black), whitesmoke;
  background-position: center;
  background-size: 50% 1px, 1px 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 0.5px solid black;
}
.choice .Help:hover .plus {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: linear-gradient(white, white), linear-gradient(white, white), black;
  background-position: center;
  background-size: 50% 1px, 1px 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
}
.choice .PickColor {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  font-size: 13px;
}
.choice .PickColor h1 {
  font-weight: lighter;
}
.choice .colors {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  margin-bottom: 200px;
}
.choice .colors div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 10px;
}
.choice .colors img {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
}
.choice .colors .focus {
  border: 2px solid blue;
}
.choice h1 {
  font-weight: lighter;
}

.GB128 {
  cursor: pointer;
  border-radius: 20px;
  background-color: whitesmoke;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  margin: 15px 0 0 0;
  padding: 14px;
}
.GB128 p {
  width: 130px;
}
.GB128 h1 {
  font-size: 20px;
}

.GB256 {
  cursor: pointer;
  border-radius: 20px;
  background-color: whitesmoke;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  margin: 15px 0 0 0;
  padding: 14px;
}
.GB256 p {
  width: 130px;
}
.GB256 h1 {
  font-size: 20px;
}

.GB512 {
  cursor: pointer;
  border-radius: 20px;
  background-color: whitesmoke;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  margin: 15px 0 0 0;
  padding: 14px;
}
.GB512 p {
  width: 130px;
}
.GB512 h1 {
  font-size: 20px;
}

.TB1 {
  cursor: pointer;
  border-radius: 20px;
  background-color: whitesmoke;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  margin: 15px 0 0 0;
  padding: 14px;
}
.TB1 p {
  width: 130px;
}
.TB1 h1 {
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: black;
}